@page
@model MegaDeskWebApp.Pages.MegaDesk.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Desk Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeskQuote.ID" />
            <div class="form-group">
                <label asp-for="DeskQuote.CustName" class="control-label"></label>
                <input asp-for="DeskQuote.CustName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.DeskWidth" class="control-label"></label>
                <input asp-for="DeskQuote.DeskWidth" class="form-control" />
                <span asp-validation-for="DeskQuote.DeskWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.DeskDepth" class="control-label"></label>
                <input asp-for="DeskQuote.DeskDepth" class="form-control" />
                <span asp-validation-for="DeskQuote.DeskDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.DeskDrawers" class="control-label"></label>
                @*<input asp-for="DeskQuote.DeskDrawers" class="form-control" />*@
                <select asp-for="DeskQuote.DeskDrawers" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <span asp-validation-for="DeskQuote.DeskDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Material" class="control-label"></label>
                @*<input asp-for="DeskQuote.Material" class="form-control" />*@

                @* Solved *@
                @*Made this a drop down and it deoesn't work yet.
                for some reason, materials is not getting set or sent to the database. the database is not even making a column for material for that matter
                getttnig it to pull from the enum to populate automagically properly might be a teach question though.*@
                <select asp-for=" DeskQuote.Material" class="form-control">
                    <option value="oak">Oak</option>
                    <option value="laminate">Laminate</option>
                    <option value="pine">Pine</option>
                    <option value="rosewood">Rosewood</option>
                    <option value="veneer">Veneer</option>
                </select>
                <span asp-validation-for="DeskQuote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.RushDays" class="control-label"></label><br />
                <radiogroup>
                    <input type="radio" asp-for="DeskQuote.RushDays" value="0" @*class="form-control" *@ /> N/A <br />
                    <input type="radio" asp-for="DeskQuote.RushDays" value="3" @*class="form-control" *@ /> 3 <br />
                    <input type="radio" asp-for="DeskQuote.RushDays" value="5" @*class="form-control" *@ /> 5 <br />
                    <input type="radio" asp-for="DeskQuote.RushDays" value="7" @*class="form-control" *@ /> 7<br />
                </radiogroup>
                <span asp-validation-for="DeskQuote.RushDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DeskQuote.DeskQuoteDate" class="control-label"></label>*@
                <input type="hidden" asp-for="DeskQuote.DeskQuoteDate" class="form-control" />
                @*<span asp-validation-for="DeskQuote.DeskQuoteDate" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                <label asp-for="DeskQuote.DeskQuoteTotal" class="control-label"></label>
                <input asp-for="DeskQuote.DeskQuoteTotal" class="form-control" />
                <span asp-validation-for="DeskQuote.DeskQuoteTotal" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
